<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- <suite name="All Test Suite" thread-count="3"  parallel="tests"> -->
<suite name="All Test Suite" >

<!--    <groups>-->
<!--            <run>-->
<!--                 <include name="Sanity"/>-->
<!--            </run>-->
<!--    </groups>-->

     <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="executing on edge">
<!--        <parameter name="os" value="windows"/>-->
        <parameter name="browser" value="firefox"/>
<!--        <parameter name="browser" value="${browsers}"/>  // used when it take browser data from config.properties file -->
        <classes>
            <class name="testCases.TC_Products">
                <methods>
                    <include name="verifySearchProductFunctionality"/>
                </methods>
            </class>
        </classes>
    </test>
<!--
    <test verbose="2" preserve-order="true" name="executing on chrome">
        <parameter name="os" value="windows"/>
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="testCases.TC_Login">
                <methods>
                    <include name="loginToApplication"/>
                </methods>
            </class>
        </classes>
    </test>  -->
</suite>